.cards-container {
    display: flex;
    justify-content:center; 
    flex-wrap: wrap;
    gap: 30px; 
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 100%; 
}

.cards-container-vazio {
    padding: 10px 30px;
    text-align: center;
}

.cards-container-vazio-texto {
    font-size: 1.8rem;
    font-weight: normal;
}

