button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: var(--color-02);
    color: var(--color-00);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
  }
  
  button:hover:not([disabled]) {
    background-color: var(--color-01); 
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--color-03); 
}