.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; /* O card ocupa toda a largura disponível */
    padding: 20px 10px;
    border: 8px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--color-00);
    font-family: 'Courier New', monospace;
}

.autor {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: end;
    margin-top: 2px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.mensagem {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.mensagem p {
    font-weight: normal;
    hyphens: auto;
    overflow-wrap: break-word;
    width: 100%;
    word-break: break-word;
}

.container_icones {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
}

.icones {
    font-size: 1.8rem;
    color: var(--color-02);
    cursor: pointer;
}

@media (min-width: 769px) {
    .card {
        height: 450px; /* Define altura consistente para todos os cards */
        margin: 20px;
    }
}


@media (max-width: 768px) {
    .card {
        max-width: 100%;
        margin: 10px 0;
        padding: 15px 10px;
    }
}
