.wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    margin-bottom: 30px;
}

.botoes_navegacao {
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .botoes_navegacao {
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) {
    .botoes_navegacao {
        flex-direction: row;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}