<section class="container">
    <h2 class="titulo">Exclusão de Pensamento</h2>

    <h3 class="subtitulo">O pensamento abaixo será apagado. <br> Confirma a exclusão?</h3>

    <app-card [pensamento]="pensamento" [isNew]="true"></app-card>

    <div class="botoes_navegacao">
        <app-button [text]="'Excluir Pensamento'" (btnClick)="excluirPensamento()">
        </app-button>
        <app-button [text]="'Cancelar'" [route]="'/home'" (btnClick)="navigateTo($event)">
        </app-button>
    </div>
</section>