<section class="card">
    <div class="mensagem">
        <p>{{ pensamento.mensagem }}</p>
    </div>

    <div class="autor">
        <p>{{ pensamento.autor }}</p>
        <div class="container_icones">
            <button routerLink="#"><i class="material-icons icones">favorite</i></button>
            <button routerLink="/editarpensamento/{{pensamento.id}}"><i class="material-icons icones">edit</i></button>
            <button routerLink="/excluirpensamento/{{pensamento.id}}"><i class="material-icons icones">delete</i></button>
        </div>
    </div>
</section>