/* Variáveis */
:root {
    --color-00: #f0f0f0; /* Background */
    --color-01: #2EA7F2;
    --color-02: #033F73;
    --color-03: #516b7c;
    --color-04: #000000; /* Preto */
    --color-05: #ffffff; /* Branco */
  }

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--color-05);
    background-image: url('../src/assets/bg-inspiration-geometry.png');
    height: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-family: sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    margin: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

